@font-face {
  font-family: Affigere;
  src: url(fonts/Affigere-Regular.otf);
}



:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #0f0f0f;
  background-color: #9BA7AA;
  

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}


@media (prefers-color-scheme: dark) {
  :root {
    color: #f6f6f6;
    background-color: #2f2f2f;
  }

  a:hover {
    color: #24c8db;
  }

  input,
  button {
    color: #ffffff;
    background-color: #0f0f0f98;
  }
  button:active {
    background-color: #0f0f0f69;
  }
}

#title1{
  font-family: Affigere;
  font-size: 3000vw;
}


.ECL {
  position: fixed;
  top: -20px;
  left: 60px;
  font-size: 100vw;
  font-family: "Affigere-Regular", Helvetica;
  font-weight: 400;
  color: #111f2c;
  font-size: 150px;
  letter-spacing: 0;
  line-height: 16px;
  white-space: nowrap;
}

.username-field {
  display: block;
  width: 203px;
  height: 23px;
  padding: 3px 7px;
  background-color: #ffffff;
  border-radius: 5px;
  border: 1px solid transparent;
  font-family: var(--body-regular-font-family);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  box-sizing: border-box;
}


.password-field {
  display: block;
  width: 203px;
  height: 23px;
  padding: 3px 7px;
  background-color: #ffffff;
  border-radius: 5px;
  border: 1px solid transparent;
  font-family: var(--body-regular-font-family);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  box-sizing: border-box;
}