@font-face {
  font-family: Affigere;
  src: url(fonts/Affigere-Regular.otf);
}



:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400px;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.light{
  display: inline-block;
  height: 12px;
  width: 12px;
  color: #ff0000;
  vertical-align: middle;
}